#paragrafopersonalizado{
    font-size: 30px;
    color:#F5E731;
}
h1{
    font-size: 80px;
    color:#F5316A;
    background-color: #30C7F5;
}
#tituloespecial{
  letter-spacing: 1mm;
  font-style: italic;
}
p{
  margin: 0%;
}
img{
  width: 500px;
  height: 300px;
}
